
body {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(173, 217, 232);
    background-image: url(./fondo.jpg;);
    background-repeat: repeat-y;
    background-position: right x;
    background-attachment: scroll;
    
}

p {
    color: rgb(2, 2, 2);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contenedor {
    width:100%;
    max-width:1000px;
    margin:0 auto;
    overflow:hidden;
}

.main {
    width: 700px;
    background: antiquewhite;
    padding: 20px;
    float: left;
    box-sizing: border-box;

}
